/* Start Global Roles */
*{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Open Sans', sans-serif;
}
ul{
  list-style: none;
}
.container{
  margin-left: auto;
  margin-right:auto;
  padding-left:15px;
  padding-right:15px;
  position: relative;
  padding-top:15px;
}
/* Small Screens */
@media (min-width: 768px) {
  .container{
    width: 750px;
  }
}
/* Miduem Screens */
@media (min-width: 992px) {
  .container{
    width: 970px;
  }
}
/* Large Screens */
@media (min-width: 1200px) {
  .container{
    width: 1170px;
  }
}
/* End Global Roles */
/* Start Header */
header {
  background-color: #2f2f2f;
  height: 100vh;
  margin-top: -20px;
}
header .container{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
header  .container a img{
  width: 150px;
  
}
header .container nav ul {
  display: flex;
  margin-top: 20px;
  margin-left: 210px;
}
header .container nav ul li{
  margin-left: 40px;
}
header .container nav ul li:hover a{
  color:#00c7fc;
}
header .container nav ul li a{
  text-decoration: none;
  color: white;
}
header .container hr{
  margin-top: 15px;
  width: 100%;
  background-color: white;
}
header .container .icon i {
  font-size: 20px;
  margin-top: 15px;
  color: white;
}
header .container .icon{
  position: relative;
}
header .container .icon::before{
  content: "";
  position: absolute;
  width: 1px;
  background-color: white;
  height: 60%;
  left: -20px;
  top: 7px;
}
header .container .icon i:hover {
  color:#00c7fc;
}
/* End Header */