/* Start Global Roles */
*{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Open Sans', sans-serif;
}
ul{
  list-style: none;
}
.container{
  margin-left: auto;
  margin-right:auto;
  padding-left:15px;
  padding-right:15px;
  position: relative;
  padding-top:15px;
  min-height: 97px;
}
/* Small Screens */
@media (max-width: 768px){
  header .container nav{
    display: none;
  }
  header .container nav{
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0px;
  }
  header .container nav ul{
    flex-direction: column;
    padding-bottom: 20px;
  }
  header .container nav ul li::before{
    width: 580% !important;
    bottom: 0 !important;
  }
  header .container .icon:hover+nav{
    visibility: visible;
    display: flex;
  }
  .landing .overlay{
    height: 50% !important;
  }
}
@media (max-width: 500px){
  .landing .overlay{
    width: 100%!important;
    top: 75% !important;
  }
  .landing .text{
    width: 62% !important;
    top: 73% !important;
  }
}
@media (min-width: 768px) {
  .container{
    width: 750px;
  }
  header .container nav{
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0px;
  }
  header .container nav ul{
    flex-direction: column;
    padding-bottom: 20px;
  }
  header .container nav ul li::before{
    width: 580% !important;
    bottom: 0 !important;
  }
  header .container .icon:hover+nav{
    visibility: visible;
    display: flex;
  }
}
/* Miduem Screens */
@media (min-width: 992px) {
  .container{
    width: 970px;
  }
  header .container .icon i:last-of-type{
    visibility: hidden;
  }
  header .container nav ul {
    margin-left: 280px;
    visibility: visible;
    flex-direction: row;
    position: absolute;
    bottom: 10px;
    left: 50px;
  }
  header .container nav ul li::before{
    width: 100% !important;
    bottom: -15px !important;
  }
  header .container nav{
    left: -10px;
  }
}
/* Large Screens */
@media (min-width: 1200px) {
  .container{
    width: 1170px;
  }
  header .container nav ul {
    margin-left: 460px;
  }
}
/* End Global Roles */
/* Start Variabals */
:root{
  --main-color:#00c7fc;
  --secondry-color:white;
}
/* End Variabals */
/* Start Header */
header {
  height: 100vh;
  margin-top: 0;
  position: absolute;
  width: 100%;
}
header .container{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
header  .container a img{
  width: 150px;
  position: absolute;
}
header .container nav ul {
  display: flex;
}
header .container nav ul li{
  padding: 15px;
  position: relative;
}
header .container nav ul li:hover a{
  color:var(--main-color);
}
header .container nav ul li::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #00c7fc;
  bottom: -30px;
  visibility: hidden;
  left: -2px;
}
header .container nav ul li:hover::before{
  visibility: visible;
}
header .container nav ul li a{
  text-decoration: none;
  color: var(--secondry-color);
  display: block;
  transition: 0.3s;
}
header .container hr{
  margin-top: 15px;
  width: 100%;
  background-color:var(--secondry-color);
}
header .container .icon i {
  font-size: 20px;
  margin-top: 15px;
  color:var(--secondry-color);
}
header .container .icon{
  position: relative;
}
header .container .icon::before{
  content: "";
  position: absolute;
  width: 1px;
  background-color: var(--secondry-color);
  height: 60%;
  left: -20px;
  top: 7px;
}
header .container .icon i:hover {
  color:var(--main-color);
}
header .container .icon i:last-of-type{
  /* visibility: hidden; */
  position: absolute;
  left: -60px;
  top: 2px;
}
/* End Header */
/* Start Landing */
.landing{
  background-image: url("../Imigas/pexels-pixabay-206676.jpg");
  background-size: cover;
  background-color: #1a1919;
  z-index:5;
  height: 100vh;
}
.landing .overlay {
  background-color:var(--main-color);
  opacity: .5;
  width: 65%;
  height: 35%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.landing .text{
  color: var(--secondry-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 35%;
  right: 35%;
}
.landing .looding {
  position: absolute;
  height: 10px;
  bottom: 40px;
  left: 50%;
  display: flex;
  transform: translateX(-50%);
}
.landing .looding div{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid white;
  margin: 5px;
}
.landing .looding div:nth-of-type(2){
  background-color: var(--main-color);
  border: none;
}
.landing .direction{
  position: absolute;
  width: 100%;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  justify-content: space-between;
}
.landing .direction div{ 
  width: 25px;
  height: 25px;
  border: 3px solid white;
}
.landing .direction div:first-of-type{
margin-left: 30px;
border-right-color: transparent;
border-bottom-color: transparent;
transform: rotate(-47deg);
}
.landing .direction div:last-of-type{
  margin-right: 30px;
  border-left-color: transparent;
  border-top-color: transparent;
  transform: rotate(-47deg);
  }
/* End Landing */